---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="padding-16 color-neutral">
    <div class="container">
      <p>
        &copy; {currentYear} - 
        XLabbers |
        Made with 💜 by
        <a href="https://twitter.com/olearycrew">Brendan O'Leary</a> &amp; 
        maybe <a href="https://gitlab.com/xlabbers/xlabbers">you</a>?
      </p>
      <br/><br/>
      <p>Based on Starter Theme for <a href="https://astro.build/">Astro</a>.</p>
    </div>
  </section>
</footer>
