---
const { 
  title,
  description,
  url,
  image,
} = Astro.props

let subtitle = 'XLabbers'
---

<!-- open graph -->
<meta property="og:title" content={`${title} - ${subtitle}`}>
<meta property="og:description" content={description}>
<meta property="og:type" content="website">
<meta property="og:url" content={url}>
<meta property="og:image" content={Astro.site ? `${Astro.site}${image}` : image}>

<!-- page title -->
<title>{title} - {subtitle}</title>
